a { color: #4B58A6; }
a:hover { color: #4B58A6; }

body{
  background-color: black;
}

#map_canvas{
  border-style: solid;
    border-width: 5px;
    border-color: gray;
}

.panel-body{
  text-align: center;
  margin: auto;
  padding-left: 17%;
}

.panel-primary{
  border-color: #818181;
}

.panel-primary>.panel-heading{
  background-color: #4F5B66;
  border-color: #818181;
}

.btn-custom {
  background-color: #34444a;
  border-color: #34444a;
  color: white;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #29363b;
  border-color: #1f282c;
  color: gray;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #34444a;
  border-color: #34444a;
  color: white;
}

.input-group .col-md-4{
text-align: justify;
  margin: auto;
  width: auto;
}
